/* Desenvolva sua estilização aqui...*/

body {
  color: var(--color-grey-7);
  font-family: "Inter", sans-serif;
}

.about {
  background-color: var(--color-brand-1);
  width: 50%;
  height: 100vh;
}

.about img {
  width: 44px;
  border-radius: 50%;
}

.aboutBox {
  width: 430px;
}

.search {
  background-color: var(--color-grey-2);
  width: 50%;
  height: 100vh;
}

.searchInput {
  width: 316px;
  height: 38px;
  background-color: var(--color-grey-1);
  border: 1px solid var(--color-grey-3);
  border-radius: 4px;
  padding: 12px;
  color: var(--color-grey-7);
}

.searchButton {
  max-width: 316px;
  height: 38px;
  background-color: var(--color-brand-1);
  border: 1px solid var(--color-brand-1);
  border-radius: 4px;
  color: var(--color-grey-7);
}

button:disabled {
  opacity: 0.4;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--color-grey-7);
  width: 120px;
  height: 25px;
  color: var(--color-grey-2);
  text-align: center;
  border: 1px solid var(--color-grey-6);
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;

  /* Position the tooltip */
  position: absolute;
  top: 35px;
  left: -40px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.loadSpinner {
  animation: spin 3s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.alert {
  color: var(--color-brand-1);
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.hideMe {
  visibility: hidden;
}

@media (max-width: 1000px) {
  html {
    width: 100vw;
    overflow: hidden;
  }

  #main {
    flex-direction: column;
    align-items: center;
  }

  .about {
    width: 100%;

    padding: 16px;
    height: 50vh;
    margin: 0;
  }

  .aboutBox {
    max-width: 316px;
  }

  .search {
    width: 100%;
    height: 50vh;
    padding: 16px;
    margin: 0;
  }

  .searchInput {
    width: calc(100vw - 36px);
    max-width: 316px;
  }

  #recentProfiles {
    max-width: 250px;
  }
}
